ECARD_HOST_BIND=0.0.0.0
ECARD_PORT=8080
ECARD_RELOAD=false

CONTENTFORGE_HOST_BIND=0.0.0.0
CONTENTFORGE_PORT=8001
CONTENTFORGE_RELOAD=false

N8N_PORT=5678
N8N_TIMEZONE=Asia/Kolkata
N8N_DATA_DIR=$HOME/.n8n

ECARD_BASE_URL=http://host.docker.internal:8080
